<!DOCTYPE html>
<html>

<head>
    <title>Enter New Password</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <h1>Enter New Password</h1>

    <form action="/reset-password/<%=data.token %>" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <button type="submit">Reset Password</button>
    </form>
</body>

</html>