<!DOCTYPE html>
<html>

<head>
    <title>Hello World Homepage</title>
</head>

<body>
    <h1>Hello, World!</h1>
    <p>Welcome to my homepage.</p>
    <a href="/signout">Sign Out</a>
</body>

</html>